:root {
    --height-menu: 70px
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    
    color: #313B44;
}

h1,
h2 {
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bth-reset {
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;

    background: none;

    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.right {
    align-items: flex-end;
    text-align: right;
}

.shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: var(--height-menu);
    padding: 20px 50px;

    color: white;
    font-weight: 700;
    background-color: #212121;
}

.nav-list-item:not(:last-child) {
    margin-right: 65px;
}

.nav-list-item {
    font-size: 16px;
    line-height: 19px;
}

.header-content {
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    line-height: 29px;
}

/* main */

/* main */

.main {
    margin-top: calc(var(--height-menu) + 20px);
    padding: 0 20px;
    background-color: #ffffff;
}

.main-cont {
    margin: 0 auto;
    max-width: 1120px;
}

.main-article {
    margin-bottom: 20px;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px;

}

/* footer */ 

.footer {
    margin-top: auto;
    padding: 20px;
    color: white;
    background-color: #212121;
}

.footer-cont {
    max-width: 1120px;
    margin: 0 auto;
}